body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #1E3D58; /*#05445e;*/
}

pre {
    color: #d4f1f4;
}